.chat-page{
  min-height:100vh;
  background:#050505;
  color:white;
  padding:30px;
}

.chat-title{
  font-size:40px;
  font-weight:700;
  margin-bottom:30px;
}

.chat-box{
  max-width:800px;
  height:65vh;
  background:#111;
  border-radius:30px;
  padding:30px;
  overflow-y:auto;
  margin:auto;
}

.message{
  padding:18px;
  border-radius:18px;
  margin-bottom:15px;
  font-size:18px;
}

.user-msg{
  background:#222;
}

.ai-msg{
  background:#171717;
  border:1px solid #333;
}

.chat-input-area{
  max-width:800px;
  margin:20px auto;
  display:flex;
  gap:10px;
}

.chat-input-area input{
  flex:1;
  padding:18px;
  border-radius:20px;
  border:none;
  background:#222;
  color:white;
  font-size:16px;
}

.chat-input-area button{
  width:80px;
  border-radius:20px;
  border:none;
  background:#00d9ff;
  font-size:25px;
}
