body{

background:
radial-gradient(circle at top,#1b1b4b,#050509);

color:white;

font-family:Arial;

}


.app{

min-height:100vh;

padding:30px;

}


.logo{

font-size:45px;

background:linear-gradient(90deg,#00d4ff,#9b5cff);

-webkit-background-clip:text;

color:transparent;

text-align:center;

}



.welcome{

text-align:center;

color:#aaa;

}



.chat-box{

height:65vh;

overflow-y:auto;

padding:20px;

border-radius:25px;

background:#0b0b15;

}



.user,
.ai{


max-width:70%;

padding:15px;

margin:15px;

border-radius:20px;

animation:pop .3s;


}



.user{

margin-left:auto;

background:linear-gradient(135deg,#2563ff,#7c3aed);


}



.ai{

margin-right:auto;

background:#171725;

border:1px solid #333;


}



.name{

font-weight:bold;

font-size:18px;

}



.input-area{

display:flex;

gap:15px;

margin-top:20px;

}



input{

flex:1;

padding:18px;

border-radius:30px;

border:none;

font-size:18px;

}



button{

width:60px;

height:60px;

border-radius:50%;

border:none;

font-size:25px;

background:#2563ff;

color:white;

}



.typing{

animation:pulse 1s infinite;

}



@keyframes pop{

from{
transform:scale(.8);
opacity:0;
}

to{
transform:scale(1);
opacity:1;
}

}



@keyframes pulse{

50%{
opacity:.5;
}

}
