.dashboard {

  min-height:100vh;

  background:#050505;

  color:white;

  padding:40px;

}



.hero h1{

  font-size:48px;

  margin-bottom:20px;

}



.hero p{

  font-size:22px;

  color:#aaa;

}



.cards{

  display:flex;

  gap:25px;

  margin-top:50px;

  flex-wrap:wrap;

}



.card{

  background:#111;

  border:1px solid #222;

  border-radius:20px;

  padding:30px;

  width:280px;

  transition:0.3s;

}



.card:hover{

  transform:translateY(-8px);

  border-color:#00e5ff;

}



.card h2{

  font-size:25px;

}



.card p{

  font-size:16px;

  color:#aaa;

}



button{

  margin-top:20px;

  padding:12px 25px;

  border:none;

  border-radius:30px;

  background:#00e5ff;

  color:black;

  font-weight:bold;

  cursor:pointer;

}


button:hover{

  opacity:0.8;

}
