.dashboard{
padding:40px;
color:white;
}


.hero{

background:linear-gradient(135deg,#082b55,#06101f);
border-radius:30px;
padding:50px;
display:flex;
justify-content:space-between;
align-items:center;

}


.hero h1{
font-size:50px;
}


.hero span{
color:#00eaff;
}


.hero p{
font-size:20px;
color:#bbb;
}


.hero button{

padding:15px 30px;
border-radius:30px;
border:none;
background:white;
font-size:18px;
cursor:pointer;

}


.robot{

font-size:120px;

}



.tools{

display:grid;
grid-template-columns:repeat(2,1fr);
gap:25px;

}


.card{

background:#111;
border:1px solid #333;
border-radius:25px;
padding:30px;
font-size:25px;

}


.card h3{

font-size:22px;

}


.card p{

font-size:16px;
color:#aaa;

}



@media(max-width:700px){

.hero{

flex-direction:column;
text-align:center;

}


.hero h1{

font-size:35px;

}


.robot{

font-size:80px;

}


.tools{

grid-template-columns:1fr;

}


.dashboard{

padding:15px;

}

}
