body{
margin:0;
font-family:Inter,Arial;
background:
radial-gradient(circle at top,#182848,#050505 45%);
color:white;
}


.navbar{
padding:25px 8%;
display:flex;
justify-content:space-between;
}


.links{
display:flex;
gap:30px;
color:#aaa;
}


.hero{
text-align:center;
padding:100px 20px;
}


.hero h1{
font-size:75px;
}


.hero button{

background:linear-gradient(90deg,#6a5cff,#00d4ff);
color:white;
border:0;
padding:18px 45px;
border-radius:40px;
font-size:18px;

}


.tools{
padding:60px 8%;
}


.tools h2{
text-align:center;
font-size:45px;
}


.tool-grid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;

}


.tool-card{

background:rgba(255,255,255,0.08);
backdrop-filter:blur(20px);
padding:30px;
border-radius:25px;
border:1px solid #333;
}


.tool-card img{

width:70px;
height:70px;

}


.tool-card:hover{

transform:translateY(-10px);

}


@media(max-width:600px){

.hero h1{
font-size:45px;
}

}
