*{
  box-sizing:border-box;
}

body{
  margin:0;
  font-family:Arial, sans-serif;
  background:#050505;
  color:white;
}


.dashboard{
  display:flex;
  min-height:100vh;
}


/* Sidebar */

.sidebar{

  width:260px;
  background:linear-gradient(180deg,#111,#050505);
  padding:30px;
  border-right:1px solid #222;

}


.logo{
  font-size:28px;
}


.menu p{

  color:#aaa;
  padding:15px;
  border-radius:15px;
  cursor:pointer;

}


.menu p:hover{

  background:#1a1a1a;
  color:white;

}


.upgrade{

  margin-top:80px;
  background:linear-gradient(145deg,#151515,#222);
  padding:20px;
  border-radius:25px;

}


.upgrade button{

  width:100%;
  padding:12px;
  border-radius:20px;
  border:none;
  cursor:pointer;

}


/* Main */

.main{

  flex:1;
  padding:30px;

}


.topbar{

  display:flex;
  gap:20px;
  justify-content:flex-end;
  align-items:center;

}


.topbar input{

  background:#111;
  border:1px solid #333;
  padding:15px;
  border-radius:25px;
  color:white;

}


.pro{

  background:#00d9ff;
  border:none;
  padding:12px 25px;
  border-radius:25px;

}



/* Hero */

.hero-dashboard{

  margin-top:40px;
  background:
  radial-gradient(circle at top,#0066ff55,transparent),
  #111;

  border-radius:35px;
  padding:50px;

  display:flex;
  justify-content:space-between;
  align-items:center;

  box-shadow:0 0 50px #0066ff22;

}


.hero-dashboard h1{

  font-size:55px;

}


.hero-dashboard span{

  color:#00eaff;

}


.hero-dashboard p{

  color:#aaa;
  font-size:20px;

}


.start{

  padding:15px 30px;
  border-radius:30px;
  border:none;
  font-size:18px;

}


.robot{

  font-size:150px;
  filter:drop-shadow(0 0 30px #00eaff);

}



/* Cards */

.cards{

 display:grid;
 grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
 gap:25px;

}



.card{

 background:rgba(255,255,255,0.05);

 border:1px solid rgba(255,255,255,.15);

 padding:30px;

 border-radius:30px;

 backdrop-filter:blur(20px);

 transition:.3s;

}


.card:hover{

 transform:translateY(-10px);

 border-color:#00eaff;

 box-shadow:0 0 30px #00eaff55;

}


.card h2{

 font-size:45px;

}
