body{
margin:0;
font-family:Arial, sans-serif;
background:#050505;
color:white;
}


.tools{
padding:80px 20px;
}


.tools h2{
font-size:45px;
text-align:center;
margin-bottom:50px;
}


.tool-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
gap:30px;
}


.tool-card{

background:linear-gradient(145deg,#111,#1c1c1c);

border:1px solid #333;

border-radius:25px;

padding:25px;

display:flex;

align-items:center;

gap:20px;

box-shadow:0 0 20px rgba(0,0,0,.5);

transition:.3s;

}


.tool-card:hover{
transform:translateY(-10px);
border-color:#00d9ff;
}


.tool-card img{

width:90px;
height:90px;

object-fit:contain;

}


.tool-card h3{

color:white;
font-size:24px;

}


.tool-card p{

color:#aaa;

}
